<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" 
     style="width: 250px; height: 100vh; position: fixed; top: 0; left: 0; z-index: 1000;">
    
    <a href="/index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="fa-solid fa-book-open fa-2x me-2"></i>
        <span class="fs-4 fw-bold">Library App</span>
    </a>
    <hr>
    
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/index" class="nav-link text-white" 
               th:classappend="${currentPage == 'books'} ? 'active bg-primary' : ''">
                <i class="fa-solid fa-list me-2"></i> Kho Sách
            </a>
        </li>
        
        <li>
            <a href="/borrows" class="nav-link text-white"
               th:classappend="${currentPage == 'borrows'} ? 'active bg-primary' : ''">
                <i class="fa-solid fa-clock-rotate-left me-2"></i> Lịch Sử Mượn
            </a>
        </li>

        <li>
            <a href="#" class="nav-link text-white disabled">
                <i class="fa-solid fa-users me-2"></i> Độc Giả (Sắp có)
            </a>
        </li>
    </ul>
    
	<hr>
	    <div class="dropdown">
	        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
	            
	            <i class="fa-solid fa-circle-user fa-xl me-2"></i>
	            
	            <strong>Admin</strong>
	        </a>
	        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
	            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
	        </ul>
	    </div>
	</div>
	</body>
	</html>